* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: sans-serif;
}

.hero {
  background-color: #0C0B0B;
}

.hero header {
  background: #0C0B0B;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.80);
}

.hero header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

header .nav-logo img {
  width: 10rem;
}

.pop-links a, .nav-links a {
  text-decoration: none;
  color: white;
  margin-right: 1.5rem;
}

.pop-links button,.nav-links button {
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 1rem;
  padding: 0.7rem 1.5rem;
  background-color: #356DA0;
  margin-left: 1.5rem;
  cursor: pointer;
}

#burger {
  display: none;
  cursor: pointer;
}

.pop-links {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0px;
  overflow: hidden;
  transition: 0.3s;
}

@media only screen and (max-width: 897px) {
  html {
    font-size: 13px;
  }
}

@media only screen and (max-width: 690px) {
  html {
    font-size: 10px;
  }

  .hero .container .intro {
    flex-direction: column;
    gap: 1rem;
    height: 80%;
  }

  .hero .container .intro .intro-text p {
    text-align: center;
  }

  .nav-links {
    display: none;
  }

  #burger {
    display: block;
  }
}

.hero .container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .container .intro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.hero .container .intro .intro-image img {
  width: 25rem;
  animation-name: floating;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.hero .container .intro p {
  font-size: 4rem;
  text-align: right;
  color: white;
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.hero .container .intro p:nth-child(2) {
  font-size: 3rem;
  -webkit-animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.hero .container .intro .intro-text .create {
  color: #6BA2D3;
}

.hero .container .intro .intro-text .decide {
  color: #356DA0;
}
