.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90dvh;
}
.hero .hero-text {
  text-align: right;
  font-size: 2.5rem;
}
.hero .hero-image img {
  width: 20rem;
}
.hero .hero-action {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}
.hero .hero-action svg {
  transition: 0.2s;
}

.hero .hero-action svg:hover {
  color: var(--main-color);
}

@media screen and (max-width: 850px) {
  .hero {
    flex-direction: column;
  }
  .hero .hero-text {
    text-align: center;
    font-size: 2rem;
  }
}
