.about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
}
.about img {
  width: 20rem;
}

.about .comp {
  width: 30%;
}

.about .comp img {
  margin-bottom: 2rem;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-inno {
  padding: 1rem 2rem;
  text-align: center;
  background-color: black;
}
.about-inno ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 4rem;
  row-gap: 0.5rem;
}

.about-inno ul li {
  padding: 0.3rem;
  transition: 0.5s;
  border-radius: 30px;
}

.about-inno ul li:hover {
  background-color: white;
  color: black;
}

@media screen and (max-width: 990px) {
  .about {
    flex-direction: column;
    gap: 10rem;
    padding: 5rem 2rem;
    background: linear-gradient(rgba(0, 0, 0, 0.932), rgba(0, 0, 0, 0.829)),
      url("../../assets/tria-andro.png") no-repeat center center / cover;
  }
  .about .about-img {
    display: none;
  }
  .about .comp {
    width: 70%;
    text-align: center;
  }
}
