.footer {
  background-color: #0c0b0b;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .logo img:nth-child(1) {
  width: 2rem;
}
.footer .logo img:nth-child(2) {
  width: 8rem;
}
.footer .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer .footer-links button {
  padding: 0.7rem 1rem;
  background-color: #0c0b0b;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  margin: 0 0.3rem;
  transition: 0.3s;
}
.footer .footer-links button:hover {
  background-color: white;
  color: black;
}

@media screen and (max-width: 690px) {
  .footer div:nth-child(2) {
    display: none;
  }
}
