.footer {
  background-color: var(--main-color);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .logo img:nth-child(1) {
  width: 2rem;
}
.footer .logo img:nth-child(2) {
  width: 8rem;
}
.footer .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #0c0b0b;
  padding: 0.5rem;
  border-radius: 10px;
}

.footer .footer-links {
  padding: 0.5rem;
  background-color: #0c0b0b;
  border-radius: 10px;
}

@media screen and (max-width: 690px) {
  .footer div:nth-child(2) {
    display: none;
  }
}
